Package: hulu-salt-syndic
Source: hulu-salt
Version: 2014.1.0-1ubuntu1
Architecture: all
Maintainer: Corey Quinn <corey@sequestered.net>
Installed-Size: 69
Depends: upstart-job, python, python-support, python-pkg-resources, hulu-salt-master (= 2014.1.0-1ubuntu1)
Conflicts: salt-syndic
Replaces: salt-syndic
Section: admin
Priority: optional
Homepage: http://saltstack.org
Description: This package represents the master-of-masters for salt
 This package is a powerful remote execution manager that can be used
 to administer servers in a fast and efficient way.
 .
 It allows commands to be executed across large groups of servers. This
 means systems can be easily managed, but data can also be easily gathered.
 Quick introspection into running systems becomes a reality.
 .
 Remote execution is usually used to set up a certain state on a remote
 system. Salt addresses this problem as well, the salt state system uses
 salt state files to define the state a server needs to be in.
 .
 Between the remote execution system, and state management Salt addresses
 the backbone of cloud and data center management.
 .
 This particular package provides the master of masters for salt-- it enables
 the management of multiple masters at a time..
